<%= form_for :session, url: sessions_path do |f| %>
  <div>
    <%= label_tag :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= f.text_field :password, type: 'password' %>
  </div>
  <%= f.submit "Login" %>
<% end %>
