<h3>User Profile</h3>
Email: <%= @user.email %>
<%= form_for @user, url: { action: "update" } do |f| %>
  <div>
    Name:
    <%= f.text_field :name %>
  </div>
  <div>
    Password:
    <%= f.text_field :password, type: "password" %>
  </div>
  <div>
    Password Confirmation:
    <%= f.text_field :password_confirmation, type: "password" %>
  </div>
  <%= f.submit "Update" %>
<% end %>
