<%= @user.email if @user %>
<%= form_for @user, url: { action: "create" } do |f| %>
  <div>
    Email
    <%= f.text_field :email %>
  </div>
  <div>
    Password
    <%= f.text_field :password, type: "password" %>
  </div>
  <div>
    Password Confirmtion
    <%= f.text_field :password_confirmation, type: "password" %>
  </div>
  <%= f.submit "Sign Up" %>
<% end %>

