<% if flash[:notice] %>
  <div id="notice" class="message warning">
    <div class="wrap">
      <%= flash[:notice] %>
      <div class="btn-close">
        <div class="icon-close"></div>
      </div>
    </div>
  </div>
<% end %>
<% if flash[:error] %>
  <div id="notice" class="message alert">
    <div class="wrap">
      <%= flash[:error] %>
      <div class="btn-close">
        <div class="icon-close"></div>
      </div>
    </div>
  </div>
<% end %>

