<% if current_user %>
  <%= link_to "Log out", session_path(current_user), method: :delete %>
<% else %>
  <div>
    <%= link_to "Sign Up", new_user_path, action: :delete unless controller_name == "users" %>
  </div>
  <div>
    <%= link_to "Login", new_session_path, action: :delete unless controller_name == "sessions" %>
  </div>
  <div>
    <%= link_to "Forgot Password", request_password_reset_path unless controller_name == "passwords" %>
  </div>
<% end %>
