<h3>Forgot Password</h3>
<%= form_for :user, url: generate_password_reset_token_path do |f| %>
  <div>
    <%= label_tag :email %>
    <%= f.text_field :email %>
  </div>
    <%= f.submit "Reqest reset" %>
<% end %>
