<%= form_for :user, url: update_password_path do |f| %>
  <%= f.text_field :reset_password_token, value: params[:reset_password_token] %>
  <div>
    <%= label_tag :password %>
    <%= f.text_field :password, type: 'password' %>
  </div>
  <div>
    <%= label_tag :password_confirmation %>
    <%= f.text_field :password_confirmation, type: 'password' %>
  </div>
  <div>
    <%= f.submit "Reset Password" %>
  </div>
<% end %>
